
src/bin/Debug/net6.0/Program.deps.json
src/bin/Debug/net6.0/Program.dll
src/bin/Debug/net6.0/Program.exe
src/bin/Debug/net6.0/Program.pdb
src/bin/Debug/net6.0/Program.runtimeconfig.json
src/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/obj/Debug/net6.0/apphost.exe
src/obj/Debug/net6.0/Program.AssemblyInfo.cs
src/obj/Debug/net6.0/Program.AssemblyInfoInputs.cache
src/obj/Debug/net6.0/Program.assets.cache
src/obj/Debug/net6.0/Program.csproj.AssemblyReference.cache
src/obj/Debug/net6.0/Program.csproj.BuildWithSkipAnalyzers
src/obj/Debug/net6.0/Program.csproj.CoreCompileInputs.cache
src/obj/Debug/net6.0/Program.csproj.FileListAbsolute.txt
src/obj/Debug/net6.0/Program.dll
src/obj/Debug/net6.0/Program.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Debug/net6.0/Program.genruntimeconfig.cache
src/obj/Debug/net6.0/Program.GlobalUsings.g.cs
src/obj/Debug/net6.0/Program.pdb
src/obj/Debug/net6.0/ref/Program.dll
src/obj/Debug/net6.0/refint/Program.dll
src/obj/Program.csproj.nuget.dgspec.json
src/obj/Program.csproj.nuget.g.props
src/obj/Program.csproj.nuget.g.targets
src/obj/project.assets.json
src/obj/project.nuget.cache
.vs/FunctionCodeSmells/FileContentIndex/e550ca8b-ba15-4a68-861b-dd76533fb015.vsidx
.vs/FunctionCodeSmells/FileContentIndex/read.lock
.vs/FunctionCodeSmells/v16/.suo
.vs/FunctionCodeSmells/v17/.suo
src/obj/Debug/net6.0/Program.assets.cache
src/obj/Program.csproj.nuget.dgspec.json
src/obj/Program.csproj.nuget.g.props
src/obj/Program.csproj.nuget.g.targets
src/obj/project.assets.json
src/obj/project.nuget.cache
src/obj/Debug/net6.0/Program.assets.cache
src/obj/Program.csproj.nuget.dgspec.json
src/obj/Program.csproj.nuget.g.props
src/obj/Program.csproj.nuget.g.targets
src/obj/project.assets.json
src/obj/project.nuget.cache
